/* bgcolor: rgba(173, 216, 230, 0.575);
hover color: rgba(173, 216, 230, 0.842)
*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(173, 216, 230, 0.575);
}
footer ul {
    list-style-type: none;
    text-align: center;
}
.App {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: row;
    align-self: center;
    border: 1px solid black;
    width: 35rem;
    height: 30rem;
    background-color: rgba(173, 216, 230, 0.575);
    border-radius: 25px;
    border: none;
    box-shadow: 5px 5px 50px 0.1px;
}
.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 700;
}
.contenedor-login {
    display: flex;
    flex-direction: column;
    width: 90%;
}
h1 {
    margin-bottom: 50px;
}
.contenedor input {
    display: flex;
    padding: 16px;
    margin-top: 7px;
    margin-bottom: 30px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px 1px;
}
.contenedor input {
    cursor: pointer;
}
@media screen and (max-width:600px){
    .contenedor-imagen {
        display: none;
    }
    .contenedor {
        width: 100%;
        padding-left: 10px;
    }
}